<!DOCTYPE html>
<html>
    {{>header}}
    <body>
        <div class = "main-container">
            <p>{{msg}}</p>
            <div class = "row">
                <div class = "column">
                    <img class = "profPic" src ="https://scontent-sea1-1.cdninstagram.com/vp/054b473c73aa04cd33f10965ecfa4290/5D077359/t51.2885-15/e35/p320x320/37667621_234948600474865_3919159783608811520_n.jpg?_nc_ht=scontent-sea1-1.cdninstagram.com&ig_cache_key=MTgzMjc4NDI0Mjk0MzY3MDQyMw%3D%3D.2">      
                    <img class = "profPic" src = "https://i.pinimg.com/736x/3b/3b/4d/3b3b4d83c96de8006de3c6a05eebc08a.jpg">
                    <img class = "profPic" src = "https://scontent-dfw5-1.cdninstagram.com/vp/cf4ffd6a99b77b38712020b3e0ea6ab1/5D08D264/t51.2885-15/e35/p240x240/50910799_2184526538477695_2125139653605636838_n.jpg?_nc_ht=scontent-dfw5-1.cdninstagram.com&ig_cache_key=MTk3MzExOTg3MTkyNzgyMTYyNw%3D%3D.2">
                </div>
                <div class = "column">
                    <img class = "profPic" src = "https://i.pinimg.com/736x/09/c0/3a/09c03a16e222abf7e83861504e7dd9db.jpg">
                    <img class = "profPic" src = "https://scontent-amt2-1.cdninstagram.com/vp/1a29a17aa277ac8f9146c8c7ccc46cfc/5CDC8622/t51.2885-15/e35/41861352_2177461455911677_7430029266736780519_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com">
                    <img class = "profPic" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrJ7O6GQJQ_IKTK2-Ecd_cpJkrJe65ukOXe29Ivx5kILLQT9wXVQ">     
                    <img class = "profPic" src = "https://i.pinimg.com/originals/de/e6/43/dee643d133206a289fcf88cc7112645f.jpg">
                </div>
            </div>
        </div>
        {{>footer}}
    </body>
    
</html>