<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        
    </head>
    {{>header}}
    <body>
        <div class = "main-container">
        <p>{{wellcomeMSG}}</p>
        <form>
            <input placeholder="location">
            <button>submit</button>
        </form>
        <p id = "messageOne"></p>
        <p id = "messageTwo"></p>
        <p id = "messageThree"></p>
        </div>
    {{>footer}}
    <script src="/js/app.js"></script>
    </body>
</html>